<!--places the home.html in the main.html + adds the header.html to the file-->

{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<!--in the middle of the page you can see all the available categories.
	If you want, you can click on them which will link you to the overview of all the items in the category. As you are logged in, you have the possibility to add a category-->
<div class = "container">
	<div class="row">
		<div class = "col-md-12" id = "differentfont">
			<h2 class = "text-center">
				Hello and welcome to my categories
			</h2>
		</div>
	</div>
		<div class = "messageflash">
			<!--here we receive the order to output the message flashing command. we return an array of messages and store it in messages and loop through it inside an unordered list till it is empty-->
			{%with messages = get_flashed_messages () %}
				{% if messages %}
					<ul>
						{% for message in messages %}
							<li>{{ message }}</li>
						{% endfor %}
					</ul>
				{% endif %}
			{% endwith %}
		</div>
	<!--one_category has the characteristics of database_setup.py - class Category-->
	<div class ="row">
		<div class = "col-md-12">
			<h3 class = "text-center">
				You want to receive further information? Just click on one of the Categories below :)
			</h3>
		</div>
	</div>
		{% for found_one_category in find_category %}
			<a href = "{{url_for('showLatestItem', category_id = found_one_category.id)}}">
				<div class = "row">
				<div class="col-md-4">
				</div>
				<div class="col-md-4">
					<div class = "results">
						<h3>
							{{found_one_category.category}}
						</h3>
					</div>
				</div>
				<div class="col-md-4">
				</div>
				</div>
			</a>
		{% endfor %}
	<!--the Add button-->
	<div class = "row">
		<div class="col-md-5">
		</div>
		<div class="col-md-2" text-right>
			<a href = "{{url_for('newCategory')}}">
				<button type="button" class="btn btn-info btn-lg" id="Add_category">
          			<span class="glyphicon glyphicon-plus" id = "symbol"></span> Add Category
        		</button>
			</a>
		</div>
		<div class="col-md-5"></div>
	</div>
</container>
{% endblock %}

